<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Guice Hello</display-name>

    <!--<filter>-->
        <!--<filter-name>guiceFilter</filter-name>-->
        <!--<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>guiceFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<listener>-->
        <!--<listener-class>com.donc.guice.AppServletConfig</listener-class>-->
    <!--</listener>-->

    <context-param>
        <param-name>resteasy.guice.modules</param-name>
        <param-value>com.donc.guice.AppModule</param-value>
    </context-param>

    <!--<listener>-->
        <!--<listener-class>-->
            <!--org.jboss.resteasy.plugins.guice.GuiceResteasyBootstrapServletContextListener-->
        <!--</listener-class>-->
    <!--</listener>-->

    <listener>
        <listener-class>
            com.donc.guice.AppServletModule
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>ResteasyGuice</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResteasyGuice</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
